@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-Light.woff) format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-LightItalic.woff) format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro.woff) format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-Medium.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-Bold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: GothamPro;
  src: url(fonts/GothamPro-Black.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

.gradient {
  color: #489EC0;
  font-weight: bold;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.5;
}

nav {
  height: 10vh;
  background-color: black;
  font-weight: 100;
}

nav .nav-item {
  padding: 0 .375rem;
}

nav .nav-link {
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: white;
  opacity: 0.8;
}

nav .nav-link:hover {
  text-decoration: none;
  opacity: 0.8;
}

body {
  overflow-x: hidden;
}

#hero-container {
  height: 90vh;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-container #hero-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5%;
  right: -5%;
  height: 100vh;
  z-index: -10;
}

#hero-container #header-text-container {
  -webkit-transform: translateY(8%);
          transform: translateY(8%);
}

#hero-container #icon-container {
  margin-top: 3%;
}

#hero-container #icon-container #logo-icon {
  height: 5vh;
  opacity: 0.1;
}

#hero-container #wwdContainer {
  margin-top: 5%;
}

#hero-container h1 {
  font-size: calc(1rem + 4vw);
  font-weight: 100;
}

#hero-container h2 {
  font-size: 1rem;
}

#service-top-SVG {
  margin-bottom: -1px;
}

#service-bottom-SVG {
  margin-top: -1px;
  position: relative;
  z-index: 10;
}

#services {
  background-color: #489EC0;
  position: relative;
  z-index: 10;
  padding-left: 12%;
  padding-right: 12%;
}

#services #service-container-row {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

#services #service-paste-row {
  margin-top: 7%;
  overflow: visible;
  color: white;
}

#services #service-paste-row #service-title-col {
  border-right: 1px solid white;
  padding-top: 5%;
  padding-bottom: 5%;
}

#services #service-paste-row #service-title-col #service-title {
  font-weight: 700;
}

#services #service-paste-row #service-text-col {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#services #service-paste-row #service-text-col #service-text {
  font-weight: 100;
}

#services #service-pic {
  height: 350px;
}

#services h2 {
  color: white;
  font-size: calc(2rem + 1vw);
  font-weight: bold;
  margin-bottom: 3%;
}

#services .icon {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#values {
  padding: 0;
  margin-top: -5%;
}

#values p {
  font-size: calc(0.2rem + 4vw);
  font-weight: bold;
}

#video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -100;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#black-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  margin: 0;
}

#values-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  color: white;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#values-content .row {
  margin: 0;
}

#values-content .btn {
  padding: .75rem 2rem;
  border: 1px solid white;
  color: white;
  background: none;
  border-radius: .75rem;
  font-weight: 700;
  font-size: 1.2rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#values-content .btn:hover {
  background-color: white;
  color: #8AC5DB;
  border: none;
}

#values-content .gradient {
  color: #8AC5DB;
}

#about #about-icon-row-container {
  height: 8vw;
  margin-top: 5%;
}

#about .about-icon-row {
  height: 60%;
}

#about h2 {
  font-size: calc(2rem + 2vw);
  font-weight: bold;
  color: #489EC0;
  padding: 5% 10% 0% 10%;
}

#about blockquote {
  padding-right: 5%;
  font-size: calc(1rem + 1vw);
  color: #489EC0;
}

#about p {
  padding-left: 10%;
  padding-right: 10%;
}

#about h3 {
  font-size: calc(0.5rem + 0.6vw);
  font-weight: 100;
  margin-top: 5%;
}

#about #blog-container {
  padding-bottom: 3%;
  margin-bottom: 5%;
}

#about .blog-item {
  background-color: brown;
  border-radius: 2rem;
  margin: 3% 3% 0% 3%;
  height: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#about .blog-item .blog-date {
  margin-right: 1.3rem;
  margin-top: 1rem;
  padding: 0;
  font-weight: bold;
}

#about .blog-item .blog-title {
  font-weight: bold;
  font-size: calc(0.8rem + 0.5vw);
  margin: 0;
}

#contact {
  background-image: url("imgs/contactback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#contact #contact-content {
  margin-top: 10%;
  margin-bottom: 2%;
}

#contact #contact-content h3 {
  color: white;
  font-size: calc(2rem + 2vw);
  font-weight: bold;
}

#contact #contact-content p {
  color: white;
  font-size: calc(1rem + 0.3vw);
}

#contact form {
  margin-bottom: 10%;
}

#contact input {
  background: white;
  border: none;
  color: #489EC0;
  text-align: center;
  border-bottom: 1px solid white;
  background-color: white;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 7px solid white;
}

#contact input[name="firstName"] {
  margin-right: 5px;
}

#contact input:focus {
  background-color: #8AC5DB;
}

#contact .input-group {
  margin-top: 3%;
  margin-bottom: 3%;
}

#contact .input-group .input-group-text {
  color: white;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
}

#contact .btn {
  padding: .75rem 2rem;
  border: 1px solid white;
  color: white;
  background: none;
  border-radius: .75rem;
  font-weight: 700;
  font-size: 1.2rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-top: 5%;
}

#contact .btn:hover {
  background-color: white;
  color: #8AC5DB;
  border: none;
}

#contact ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.6;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#contact ::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.6;
}

#contact :-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.6;
}

#contact :-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

#footer {
  background-color: #489EC0;
  height: 10vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .mediaIcon {
  padding: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footerLink {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer p {
  margin: 0;
  white-space: nowrap;
  font-size: calc(0.2rem + 0.5vw);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: GothamPro;
}

@media (max-width: 991px) {
  html #hero-container #hero-back {
    left: -25%;
    right: -25%;
  }
  html #hero-container #hero-back img {
    min-height: 105vh;
    min-width: 100vw;
    width: auto;
  }
  html #services #service-container-row {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media (max-width: 767px) {
  html #hero-container #hero-back {
    left: -70%;
    right: -20%;
  }
  html #services #service-paste-row #service-title-col {
    border: none;
  }
}
/*# sourceMappingURL=styles.css.map */